@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body,
html {
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(#fff, #fff, #fff);
}

body::-webkit-scrollbar-thumb {
  height: 5rem;
  background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
